@page "/bord"

<h1>掲示板</h1>

<ul style="list-style: none;">
    <li>
        <input placeholder="Name" @bind="newPostName" />
    </li>
    <li>
        <textarea placeholder="Text..." @bind="newPostDescription" />  
    </li>
    <li>
        <button @onclick="AddPost">投稿する</button>
    </li>
</ul>



<ul>
    @foreach(var post in posts)
    {
        <li>
            <p>@post.Name さん</p>
            <p>@post.Description</p>
            <p>@post.CreatedAt</p>
        </li>
    }
</ul>

@code {
    private List<Post> posts = new();

    private string? newPostName;

    private string? newPostDescription;

    private DateTime newPostCreatedAt;


    private void AddPost()
    {
        newPostCreatedAt = DateTime.Now;

        if (!string.IsNullOrWhiteSpace(newPostName) && !string.IsNullOrWhiteSpace(newPostName)&& !string.IsNullOrWhiteSpace(newPostDescription))
        {
            posts.Insert(0,new Post { 
                Name = newPostName,
                Description = newPostDescription,
                CreatedAt = newPostCreatedAt
            });

            newPostName = string.Empty;
            newPostDescription = string.Empty;
        }
    }
}
